*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:"Red Hat Display";
}

.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin:4rem ;
}

.intro{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.hero-left{
    margin-left: -8rem;
    /* overflow: hidden; */
}

.hero-right{
    margin-right: -8rem;
    /* overflow: hidden; */
}

.middle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    line-height: 4rem;
    font-weight: 900;
    font-size: 4rem;
    margin-right: 4rem;
}

.upper-text h1{
    font-size: 4rem;
    width: 27.8125rem;
    margin-left: 6rem;
}

#bottom-text{
    font-size: 1.125rem;
    width: 32rem;
    text-align: center;
    margin-left: 3.5rem;
    line-height: 1.625rem;
    font-weight: 450;
    margin-top: 2.125rem;
    margin-bottom: 0.5rem;    
    color: #87879D;
}

.button{
    margin-left: 4rem;
}
#download-button{
    background-color: #71C0D4;
    border: none;
    padding: 1rem 4rem;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 2rem;
}
#download-button span{
    color: #8FE3F9;
}
#what-button{
    background-color: #B18BDD;
    border: none;
    padding: 1rem 2rem;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 2rem;
}

.image{
    display: grid;
    grid-template-columns: 18% 18% 18% 18%;
    column-gap: 3rem;
    margin-left: 13rem;
    margin-top: 4.5rem;
}
.img{
    width: 16rem;
    height: 15.125rem;
    border-radius: 8px;

}
.conclude{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin-top: 4rem;
    margin-bottom: -4rem;;
}

.conclude h3{
    color:#4D96A9;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.625rem;
    letter-spacing: 0.25rem;
    
}
#upper-text2{
    font-weight: 900;
    width: 28rem;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 2.75rem;
}

#bottom-text2{
    font-weight: 450;
    width: 32rem;
    font-size: 1.125rem;
    line-height:1.625 ;
    margin-bottom:2rem;
    column-rule: #87879D;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 308px;
    position: relative;
    padding: 0px 160px;
    background-color: #4D96A9;
    margin-top: -1.5rem;
}

.footer::before{
    content: "";
    background-image: url("./image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
}

#exp{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    width: 21.875rem;
    margin-left: 1rem;
    color: #FAFAFA;
}

#foot{
    line-height:1.625rem;
    font-size: 1.25rem;
    font-weight: 450;
    width: 24rem ;
    margin-left: 2rem;
    color: #FAFAFA;
}


#Download{
    background-color: #B18BDD;
    border: none;
    padding: 1rem 2rem;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 2rem;
    margin-left: 6rem;
}

#Download span{
    color: #D9B8FF;
}

.numcirc{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

.line1{
    border-left: 1px solid #87879D ;
    height: 84px;
}

.number{
    align-content: center;
    border: 1px solid #87879D ;
    width: 56px;
    height: 56px;
    border-radius: 50%;    
}

._numcirc{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 6rem;
    z-index: 1;
}

.line{
    border-left: 1px solid #87879D ;
    height: 84px;
   
}

.number_{
    align-content: center;
    border: 1px solid #87879D ;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #FFFFFF;   
}